---
layout: default
---
<h2 class="content-inner-title myFont css2dcc4b9955748">Articles</h2>
<div class="content-main">
	 <ul class="post-list">
	    {% for post in paginator.posts %}
	      <li>
	        <h3>
	          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	        </h3>
	        
	        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

	        <div class="post-excerpt">
	          {{ post.excerpt }}
	          <p>
	            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
	          </p>
	        </div>
	      </li>
	    {% endfor %}
	 </ul>
	 <!--分页导航，为每一页生成链接-->
	{% if paginator.total_pages > 1 %}
	<ul class="pagination">
	  {% if paginator.previous_page %}
	    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
	  {% else %}
	    <li class="disabled"><span>&laquo; Prev</span></li>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <li class="active"><span>{{ page }}</span></li>
	    {% elsif page == 1 %}
	      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
	    {% else %}
	      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
	    {% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
	    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>Next &raquo;</span></li>
	  {% endif %}
	</ul>
	{% endif %}
</div>